{
  "TOKEN": "NjkxMTE3OTk3NDIyNjczOTIx.XnbTyg.W7PU4w7PZIoI3Fisbp3nM-wX6v4",
  "YOUTUBE_API_KEY": "",
  "SOUNDCLOUD_CLIENT_ID": "",
  "MAX_PLAYLIST_SIZE": 10,
  "PREFIX": "/",
  "PRUNING": false,
  "LOCALE": "en",
  "STAY_TIME": 30,
  "DEFAULT_VOLUME": 100
}
